@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #281636;
}

main {
    margin: auto;
    background-color: #d4d4d4;
    max-width: 1500px;
    border-radius: 10%;
}

header {
    position: relative;
    z-index: 50;
    background-color: #281636;
    color: #fff;
    /* text-align: center; */
    /* padding: 1em; */
    margin-left: 2em;
    margin-right: 2em;
}

.heading {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.linksOut {
    background-color: #401f59;
    /* bottom: 0%; */
    border-radius: 10%;
    text-align: center;
    justify-content: center;
}

.linksOut ul {
    display: grid;
    padding: 1em 0em;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    justify-content: center;
    text-align: center;

}

@media (max-width: 600px) { 
    .linksOut ul {
        grid-template-columns: 1fr;
        margin-right: 10%;
    }

    .linksOut li {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.linksOut li {
    display: inline;
    padding: 0.5em 0em;
    text-align: center;
    justify-content: center;
}

.linksOut li:hover {
    /* border: 2px solid #a483d3; */
    background-image: radial-gradient(circle, #6f257a, #401f59);
    background-color: #6f257a;
    align-items: center;
}

a {
    text-decoration: none;
}

.linksOut a {
    color: var(--lightTwo);
    margin-left: 4.5rem;
    display: inline-block;
    transition: 0.3s;
}

.linksOut a:hover {
    color: var(--hoverColor);
    transform: scale(1.05);
  }

main {
    padding: 2em;
}

.titleImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .titleImageContainer {
        grid-template-columns: 1fr;
    }  
}

/* @media (min-width: 400px) {
    .titleImageContainer {
        grid-template-columns: 1fr;
    }  
} */

.right {
    max-width: 90%;
    text-align: end;
    float: right;
}

.image {
    width: 75%;
    position: relative;
}

.geor {
    width:100%;
    height:100%;
    border: 5px solid #281636;
    border-radius: 20%;
    object-fit: cover;
}

.left {
    max-width: 90%;
    float: left;
}

.centre {
    text-align: left;
}

.btn-linkedin {
    background-color: #0077b5; /* LinkedIn color */
    color: white; /* Text color */
    padding: 15px 20px; /* Padding around the button */
    border: none; /* Remove the default border */
    cursor: pointer; /* Change the cursor on hover */
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
.button {
    background-color: #401f59;
    color: white;
    padding: 0.5em;
    margin-left: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid 2px #281636;
    border-radius: 20%;
  }

footer {
    background-color: #401f59;
    color: #fff;
    text-align: left;
    padding: 1em;
    margin: 1em 2em;
    /* position: fixed; */
    bottom: 0;
    /* width: 100%; */
    border-radius: 10%;
}
